/* src/app/globals.css */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717; /* 기본 전경색 (텍스트 등) */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground); /* body의 기본 텍스트 색상 */
  font-family: Arial, Helvetica, sans-serif;
}

/* 반응형 테이블을 위한 Custom CSS */
@media (max-width: 768px) {
  .responsive-table thead {
    @apply hidden;
  }

  .responsive-table tr {
    @apply block mb-4 border border-gray-200 rounded-lg shadow-sm;
  }

  .responsive-table td {
    @apply block text-right p-4;
    border-bottom: 1px solid #ddd;
  }

  .responsive-table td:last-child {
    @apply border-b-0;
  }

  .responsive-table td::before {
    @apply content-[attr(data-label)] float-left font-bold text-gray-600;
  }
}
